.color-square {
  width: 30px;
  height: 30px;
  border: thin solid black
}

.item-button {
  margin-right: 12px;

  &.item-button-last {
    margin-right: 0;
  }
}

::ng-deep {
  .p-datatable-table {
    table-layout: fixed;

    .p-datatable-thead {
      tr {
        th:first-of-type,
        th:nth-of-type(6) {
          width: 130px;
        }
        th:nth-of-type(5) {
          width: 200px;
        }
        th:last-of-type {
          width: 220px;
        }
      }
      tr:nth-of-type(2) {
        .p-column-filter-row .p-column-filter-menu-button,
        .p-column-filter-row .p-column-filter-clear-button {
          display: none;
        }
        th:nth-of-type(5) .p-column-filter-row .p-column-filter-clear-button {
          display: inline-flex;
        }
      }
    }
  }
  .p-datatable {
    width: 100%;
    max-width: 1500px;
    margin: auto;

    .p-datatable-tbody > tr > td {
      padding: 0.8rem 1rem;
    }
  }
}
